/* Write your CSS here */
.projectmaincont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.projectimage {
  width: 100%;
  height: 200px;
}
.projectmaincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calendercont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: blue;
  font-size: 10px;
}
