/* Write your CSS here */
.coursemaincont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.maincont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coursehead {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.timecont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.clock {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.duration {
  font-size: 10px;
  color: lightslategray;
}
.description {
  font-size: 10px;
  color: lightslategray;
}
.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}

.eachcourselist {
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
